.vacature {
  margin: 0;
  padding: 0;
  height: 64vh;
  width: 20vw;
  z-index: 5;
}

.font {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Rajdhani;
  color: #ffffff;
  font-size: 46px;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
