.vacature {
  margin: 0;
  padding: 0;
  height: 64vh;
  width: 20vw;
  z-index: 5;
}
.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.font {
  display: grid;
  place-items: center;
  position: relative;
  font-family: Rajdhani;
  color: #ffffff;
  font-size: 5vh;
}
